.body {
    -fx-font-family: Roboto;
    -fx-font-size: 13;
}

.sideBar {
    -fx-background-color: #e6e6e6;
}

.sideBar .link {
    -fx-text-fill: #373737;
    -fx-underline: false;
}

.sideBar .link:hover {
    -fx-text-fill: #282828;
    -fx-background-color: #b4b4b4;
    -fx-underline: false;
}

.sideBar.link:focused {
    -fx-text-fill: #282828;
    -fx-background-color: #b4b4b4;
    -fx-underline: false;
}

.separator {
    -fx-pref-height: 30;
}

.taskLink {
    -fx-text-fill: #373737;
}

.taskLink:hover {
    -fx-text-fill: #282828;
}

.taskLink:focused {
    -fx-text-fill: #282828;
}

.taskHeader {
    -fx-font-size: 16;
    -fx-font-family: "Roboto Medium";
}

.taskLabel {
    -fx-pref-height: 30;
    -fx-pref-width: 100;
}

.taskLabelModal {
    -fx-pref-height: 35;
    -fx-pref-width: 100;
}

.deleteBtn {
    -fx-min-width: 70;
}

.addBtn {
    -fx-min-width: 70;
    -fx-background-color: #92fa7f;
}

.projectsContainer {
    -fx-font-family: Roboto;
    -fx-font-size: 16;
    -fx-padding: 0,0,0,10
}

.listLabel {
    -fx-font-weight: bold;
    -fx-padding: 5, 0, 5, 0;
}

.modal__container {
    -fx-padding: 10, 50, 10, 50;
}

.modal__error {
    -fx-background-color: red;
}

.modal__warning {
    -fx-background-color: #ffcc00;
}

.modal__header {
    -fx-font-size: 16;
    -fx-font-family: 'Roboto Medium';
}

.modal__manipulateBtns {
    -fx-min-width: 70;
    -fx-padding: 5, 15, 5, 15;
}

.modal__btnContainer {
    -fx-padding: 15, 0, 15, 0;
}

.modal__btnSeparator {
    -fx-min-width: 30;
    -fx-padding: 40;
}

.modal__text {
    -fx-padding: 30;
    -fx-background-color: green;
    -fx-text-fill: red;
}